body{
    background-color: rgb(53, 53, 113);
}  

h1{
    text-align: center; 
    color: aliceblue;
}

#outer{
    background-color: black; 
    height: 500px;
    width: 190px;
    border: 3px solid white;
    position: relative;
    top: 60px;
    left: 45%;
}

#one{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: red;
    position: absolute;
    top: 50px;
    left: 45px;
    /* animation: pulse 2s infinite alternate;
     */
} 

#two{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: yellow;
    position: absolute;
    top: 200px;
    left: 45px;
    /* animation: pulse 2s infinite alternate; */
} 

#three{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: green;
    position: absolute;
    top: 350px;
    left: 45px;
    /* animation: pulse 2s infinite alternate; */
} 

.pulse{
    animation: pulse 1s infinite alternate;
}

.none{
    background-color: rgb(13, 7, 7);
}

@keyframes pulse {
    0% {
        transform: scale(1); /* Initial scale */
    }
    100% {
        transform: scale(1.2); /* Scale to 120% */
    }
} 
